# Import and Cleaning of df

In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv('../data/raw/all_games.csv')
df_2 = pd.read_csv('../data/raw/video_games_sales.csv')

In [50]:
display(df.head(2), df_2.head(2), df.info(), df_2.info(), df.nunique(), df_2.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  float64
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

None

None

name            12254
platform           22
release_date     4533
summary         14647
meta_score         80
user_review        94
dtype: int64

rank            16598
name            11493
platform           31
year               39
genre              12
publisher         578
na_sales          409
eu_sales          305
jp_sales          244
other_sales       157
global_sales      623
dtype: int64

In [51]:
# drop columns

def drop_columns_in_table_1(df):
    df = df.drop(columns=['summary'])
    return df

def drop_columns_in_table_2(df_2):
    df = df_2.drop(columns=['rank'])
    return df

In [52]:
updated_df = drop_columns_in_table_1(df)
updated_df_2 = drop_columns_in_table_2(df_2)

display(updated_df, updated_df_2)

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [53]:
display(updated_df['platform'].unique())
display(updated_df_2['platform'].unique())

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [54]:
def new_platform_column(updated_df):
    platform_mapping = {'Nintendo 64':'Nintendo 64', 'PlayStation':'PlayStation', 'PlayStation 3':'PlayStation 3', 'Dreamcast':'Dreamcast', 'Xbox 360':'Xbox 360',
                          'Wii':'Wii', 'Xbox One':'Xbox One', 'PC':'PC', 'Switch':'Nintendo Switch', 'PlayStation 2':'PlayStation 2',
                               'PlayStation 4':'PlayStation 4', 'GameCube':'GameCube', 'Xbox':'Xbox', 'Wii U':'Wii U', 'Game Boy Advance':'Game Boy Advance', '3DS':'Nintendo 3DS', 'Xbox Series X':'Xbox Series X', 'DS':'Nintendo DS', 
                                   'PlayStation Vita':'PlayStation Vita', 'PlayStation 5':'PlayStation 5', 'PSP':'PlayStation Portable', 'Stadia':'Google Stadia'}
    updated_df['platform'] = updated_df['platform'].replace(platform_mapping)
    return updated_df

def new_platform_column(updated_df_2):
    platform_mapping = {'Wii':'Wii', 'NES':'Nintendo NES', 'GB':'Gameboy', 'DS':'Nintendo DS', 'X360':'Xbox 360',
                          'PS3':'PlayStation 3', 'PS2':'PlayStation 2', 'GBA':'Gameboy Advance', 'SNES':'Nintendo Super NES', '3DS':'Nintendo 3DS',
                               'PS4':'PlayStation 4', 'N64':'Nintendo 64', 'PS':'PlayStation', 'XB':'Xbox', 'PC':'PC', '2600':'2600', 'PSP':'PlayStation Portable', 'XOne':'Xbox One', 'GC':'Game Cube', 'WiiU':'Wii U', 'GEN':'GEN',
                                   'DC':'Dreamcast', 'PSV':'PlayStation Vita', 'SAT':'Saturn', 'SCD':'SEGA CD', 'WS':'WonderSwan', 'NG':'Neo Geo', 'TG16':'TurboGrafx-16', '3DO':'3DO Interactive Multiplayer', 'GG':'SEGA Game Gear', 'PCFX':'PC-FX'}
    updated_df_2['platform'] = updated_df_2['platform'].replace(platform_mapping)
    return updated_df_2

In [55]:
display(new_platform_column(updated_df))

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

In [56]:
display(new_platform_column(updated_df_2))

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [57]:
# to check for NaN
updated_df_2.isna().sum()

name              0
platform          0
year            271
genre             0
publisher        58
na_sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [58]:
updated_df.isna().sum()

name            0
platform        0
release_date    0
meta_score      0
user_review     0
dtype: int64

In [59]:
dropped_na_tb_2_df = updated_df_2.dropna(subset=['year', 'jp_sales', 'eu_sales', 'other_sales', 'global_sales'])
display(dropped_na_tb_2_df)
# TO CHECK THIS AND WHY 0.0 STILL APPEAR

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [60]:
dropped_na_tb_2_df['year'].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000., 1995., 2016., 1991., 1981., 1987., 1980.,
       1983., 2020., 2017.])

In [61]:
dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

/var/folders/1p/3nvyb0qn4zbfkzm72nmsffqh0000gn/T/ipykernel_22900/773501899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

In [62]:
display(dropped_na_tb_2_df)

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Merging the tables:

In [63]:
# Perform the merge
#common_columns = ['name', 'platform']
#merged_df = pd.merge(updated_df, dropped_na_tb_2_df, on=common_columns, how='right')

# Display the merged dataframe
#display(merged_df)

In [64]:
merged_df = pd.merge(updated_df, dropped_na_tb_2_df, on=['name'], how='inner')
display(merged_df.head(20))

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 3DS,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,PlayStation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Gameboy Advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
5,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,Xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
6,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,PlayStation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
7,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,PC,2008,Action,Take-Two Interactive,0.01,0.79,0.00,0.08,0.88
8,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4,Dreamcast,1999,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34
9,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,Xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
10,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,PlayStation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
11,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,PC,2008,Action,Take-Two Interactive,0.01,0.79,0.00,0.08,0.88
12,Super Mario Galaxy,Wii,"November 12, 2007",97,9.1,Wii,2007,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
13,Super Mario Galaxy 2,Wii,"May 23, 2010",97,9.1,Wii,2010,Platform,Nintendo,3.66,2.42,0.98,0.64,7.69
14,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PlayStation 3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
15,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,Xbox 360,2013,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
16,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PlayStation 4,2014,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
17,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,Xbox One,2014,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
18,Grand Theft Auto V,Xbox One,"November 18, 2014",97,7.9,PC,2015,Action,Take-Two Interactive,0.36,0.64,0.00,0.08,1.08
19,Grand Theft Auto V,PlayStation 3,"September 17, 2013",97,8.3,PlayStation 3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40

In [65]:
# Check for any missing values in the merged DataFrame
print(merged_df.isnull().sum())

name            0
platform_x      0
release_date    0
meta_score      0
user_review     0
platform_y      0
year            0
genre           0
publisher       1
na_sales        0
eu_sales        0
jp_sales        0
other_sales     0
global_sales    0
dtype: int64

In [66]:
# Check for any duplicate entries
duplicates = merged_df[merged_df.duplicated(subset=['name'], keep=False)]
display(duplicates)

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Nintendo 3DS,2011,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,PlayStation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Gameboy Advance,2001,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Nintendo 64,2001,Sports,Activision,0.59,0.16,0.00,0.01,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18187,Legends of Wrestling II,Game Boy Advance,"November 25, 2002",24,3.6,Gameboy Advance,2002,Fighting,Acclaim Entertainment,0.05,0.02,0.00,0.00,0.07
18192,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3,Xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05
18193,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3,PlayStation 3,2013,Action,Activision,0.00,0.03,0.00,0.00,0.03
18194,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0,Xbox 360,2009,Adventure,Codemasters,0.14,0.01,0.00,0.01,0.16
18195,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0,PlayStation 3,2009,Adventure,Codemasters,0.06,0.03,0.00,0.01,0.10

In [67]:
# Filter the DataFrame to keep only rows where platform_x is equal to platform_y
# Remove leading and trailing spaces
merged_df['platform_x'] = merged_df['platform_x'].str.strip()
merged_df['platform_y'] = merged_df['platform_y'].str.strip()
# Convert both columns to lowercase
merged_df['platform_x'] = merged_df['platform_x'].str.lower()
merged_df['platform_y'] = merged_df['platform_y'].str.lower()
# Display unique values in each platform column
print(merged_df['platform_x'].unique())
print(merged_df['platform_y'].unique())
filtered_df = merged_df[merged_df['platform_x'] == merged_df['platform_y']]

# Display the filtered DataFrame
display(filtered_df)

['nintendo 64' 'playstation' 'playstation 3' 'dreamcast' 'xbox 360' 'wii'
 'xbox one' 'playstation 2' 'playstation 4' 'gamecube' 'xbox' 'pc'
 'game boy advance' 'ds' 'wii u' 'playstation 5' '3ds' 'switch' 'psp'
 'xbox series x' 'playstation vita']
['nintendo 64' 'nintendo 3ds' 'playstation' 'gameboy advance' 'xbox 360'
 'playstation 3' 'pc' 'dreamcast' 'wii' 'playstation 4' 'xbox one'
 'playstation 2' 'game cube' 'xbox' 'wii u' 'playstation portable'
 'nintendo super nes' 'nintendo ds' 'gameboy' 'playstation vita' 'saturn'
 '2600' 'gen' 'nintendo nes' 'sega cd' 'neo geo' 'wonderswan']

,name,platform_x,release_date,meta_score,user_review,platform_y,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,nintendo 64,"November 23, 1998",99,9.1,nintendo 64,1998,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
2,Tony Hawk's Pro Skater 2,playstation,"September 20, 2000",98,7.4,playstation,2000,Sports,Activision,3.05,1.41,0.02,0.20,4.68
6,Grand Theft Auto IV,playstation 3,"April 29, 2008",98,7.7,playstation 3,2008,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
8,SoulCalibur,dreamcast,"September 8, 1999",98,8.4,dreamcast,1999,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34
9,Grand Theft Auto IV,xbox 360,"April 29, 2008",98,7.9,xbox 360,2008,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18182,Cruis'n,wii,"November 27, 2007",25,4.0,wii,2007,Racing,Midway Games,0.10,0.01,0.00,0.01,0.12
18183,Gravity Games Bike: Street Vert Dirt,playstation 2,"June 27, 2002",24,3.4,playstation 2,2002,Sports,Midway Games,0.05,0.04,0.00,0.01,0.10
18188,Pulse Racer,xbox,"January 2, 2003",24,2.2,xbox,2003,Racing,Jaleco,0.01,0.00,0.00,0.00,0.02
18189,Fighter Within,xbox one,"November 19, 2013",23,2.8,xbox one,2013,Fighting,Ubisoft,0.11,0.07,0.00,0.02,0.19
18192,Fast & Furious: Showdown,xbox 360,"May 21, 2013",22,1.3,xbox 360,2013,Action,Activision,0.00,0.04,0.00,0.00,0.05

In [68]:
#pd.set_option('display.max_rows', None)  # Show all rows

In [69]:
#pd.reset_option('display.max_rows')

In [191]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4332 entries, 0 to 18192
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            4332 non-null   object
 1   platform_x      4332 non-null   object
 2   release_date    4332 non-null   object
 3   meta_score      4332 non-null   int64
 4   user_review     4332 non-null   float64
 5   platform_y      4332 non-null   object
 6   year            4332 non-null   int64
 7   genre           4332 non-null   object
 8   publisher       4332 non-null   object
 9   na_sales        4332 non-null   float64
 10  eu_sales        4332 non-null   float64
 11  jp_sales        4332 non-null   float64
 12  other_sales     4332 non-null   float64
 13  global_sales    4332 non-null   float64
 14  score_diff      4332 non-null   float64
 15  score_category  4332 non-null   category
 16  average_rating  4332 non-null   float64
dtypes: category(1), float64(8), int64(2), object(6)
memory usage: 579.8+ KB

In [194]:
# Convert the user_review column to float
filtered_df['user_review'] = filtered_df['user_review'].astype(float)