In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('IRONHACK_CLASS/week3/project_work/video_game_analysis/Updated/video_game_analysis/data/raw/all_games.csv')

df

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9
...,...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0

In [7]:
display(df['platform'].unique())

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

In [15]:
# Get the unique names
unique_names = df['name'].unique()

# Display the unique names
print(f"Unique names: {unique_names}")
print(f"Total unique names: {len(unique_names)}")

Unique names: ['The Legend of Zelda: Ocarina of Time' "Tony Hawk's Pro Skater 2"
 'Grand Theft Auto IV' ... 'Drake of the 99 Dragons'
 'Afro Samurai 2: Revenge of Kuma Volume One'
 'Infestation: Survivor Stories (The War Z)']
Total unique names: 12254

In [14]:
display(df['name'].unique().all())

'Infestation: Survivor Stories (The War Z)'

In [12]:
display(df['name'].unique().any())

'The Legend of Zelda: Ocarina of Time'

In [16]:
# Remove leading and trailing whitespaces
df['name'] = df['name'].str.strip()
df['platform'] = df['platform'].str.strip()

In [17]:
# Convert to lowercase
df['name'] = df['name'].str.lower()
df['platform'] = df['platform'].str.lower()

In [18]:
# Remove special characters
df['name'] = df['name'].str.replace(r'[^\w\s]', '', regex=True)
df['platform'] = df['platform'].str.replace(r'[^\w\s]', '', regex=True)

In [19]:

# Check for missing values
print(df['name'].isnull().sum())
print(df['platform'].isnull().sum())

# Fill missing values with a placeholder or drop the rows
df['name'].fillna('unknown', inplace=True)
df['platform'].fillna('unknown', inplace=True)

0
0

In [20]:
# Remove duplicate rows
df.drop_duplicates(subset=['name', 'platform'], inplace=True)

In [22]:
# Example of standardizing platform names
df['platform'] = df['platform'].replace({
    'Nintendo 64':'Nintendo 64', 'PlayStation':'PlayStation', 'PlayStation 3':'PlayStation 3', 'Dreamcast':'Dreamcast', 'Xbox 360':'Xbox 360',
                          'Wii':'Wii', 'Xbox One':'Xbox One', 'PC':'PC', 'Switch':'Nintendo Switch', 'PlayStation 2':'PlayStation 2',
                               'PlayStation 4':'PlayStation 4', 'GameCube':'GameCube', 'Xbox':'Xbox', 'Wii U':'Wii U', 'Game Boy Advance':'Game Boy Advance', '3DS':'Nintendo 3DS', 'Xbox Series X':'Xbox Series X', 'DS':'Nintendo DS', 
                                   'PlayStation Vita':'PlayStation Vita', 'PlayStation 5':'PlayStation 5', 'PSP':'PlayStation Portable', 'Stadia':'Google Stadia'
    # Add more replacements as necessary
})

In [23]:
display(df['user_review'].unique())

array(['9.1', '7.4', '7.7', '8.4', '7.9', '8.0', '8.3', '6.2', '8.7',
       '7.5', '8.8', '8.5', '8.6', '8.9', '8.2', '9.2', '7.8', '9.0',
       '9.3', '8.1', '6.8', '7.6', '6.9', '6.6', '7.3', '7.2', '9.4',
       '5.7', '6.0', '5.8', '7.1', '3.3', '5.0', '5.5', '6.5', '5.9',
       '6.7', '3.8', '6.4', '7.0', '6.3', '4.9', 'tbd', '5.3', '3.5',
       '4.7', '6.1', '4.8', '4.1', '5.6', '4.4', '5.4', '4.6', '3.1',
       '5.2', '4.3', '1.8', '4.5', '5.1', '4.2', '4.0', '9.7', '3.2',
       '2.9', '2.1', '2.4', '3.4', '3.0', '3.7', '2.2', '2.6', '2.7',
       '2.5', '2.8', '3.9', '2.0', '9.6', '1.5', '3.6', '1.4', '1.2',
       '0.9', '1.9', '1.1', '1.7', '0.8', '1.0', '0.6', '2.3', '0.5',
       '1.6', '0.2', '0.7', '1.3'], dtype=object)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18686 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18686 non-null  object
 1   platform      18686 non-null  object
 2   release_date  18686 non-null  object
 3   summary       18572 non-null  object
 4   meta_score    18686 non-null  int64
 5   user_review   18686 non-null  object
dtypes: int64(1), object(5)
memory usage: 1021.9+ KB

In [25]:
df.dtypes

name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [29]:
# Replace non-numeric values with NaN, then convert to numeric
df['user_review'] = pd.to_numeric(df['user_review'], errors='coerce')

# Handle missing values (optional, depending on your data)
df['user_review'].fillna(0, inplace=True)  # Or use another value or method for filling NaNs

# Convert the user_review column to float
df['user_review'] = df['user_review'].astype(float)

# Display the first few rows to confirm the change
print(df.head())
print(df['user_review'].dtype)  # Should print 'float64'

                                  name       platform        release_date  \
0  the legend of zelda ocarina of time    nintendo 64   November 23, 1998
1              tony hawks pro skater 2    playstation  September 20, 2000
2                  grand theft auto iv  playstation 3      April 29, 2008
3                          soulcalibur      dreamcast   September 8, 1999
4                  grand theft auto iv       xbox 360      April 29, 2008

                                             summary  meta_score  user_review
0  As a young boy, Link is tricked by Ganondorf, ...          99          9.0
1  As most major publishers' development efforts ...          98          7.0
2  [Metacritic's 2008 PS3 Game of the Year; Also ...          98          7.0
3  This is a tale of souls and swords, transcendi...          98          8.0
4  [Metacritic's 2008 Xbox 360 Game of the Year; ...          98          7.0
float64

In [30]:
df.dtypes

name             object
platform         object
release_date     object
summary          object
meta_score        int64
user_review     float64
dtype: object

In [31]:
df

,name,platform,release_date,summary,meta_score,user_review
0,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.0
1,tony hawks pro skater 2,playstation,"September 20, 2000",As most major publishers' development efforts ...,98,7.0
2,grand theft auto iv,playstation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.0
3,soulcalibur,dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.0
4,grand theft auto iv,xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.0
...,...,...,...,...,...,...
18795,fast furious showdown,xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.0
18796,drake of the 99 dragons,xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.0
18797,afro samurai 2 revenge of kuma volume one,playstation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.0
18798,infestation survivor stories the war z,pc,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.0
18799,leisure suit larry box office bust,pc,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0

In [32]:
clean_df = df

In [33]:
clean_df

,name,platform,release_date,summary,meta_score,user_review
0,the legend of zelda ocarina of time,nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.0
1,tony hawks pro skater 2,playstation,"September 20, 2000",As most major publishers' development efforts ...,98,7.0
2,grand theft auto iv,playstation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.0
3,soulcalibur,dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.0
4,grand theft auto iv,xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.0
...,...,...,...,...,...,...
18795,fast furious showdown,xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.0
18796,drake of the 99 dragons,xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.0
18797,afro samurai 2 revenge of kuma volume one,playstation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.0
18798,infestation survivor stories the war z,pc,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.0
18799,leisure suit larry box office bust,pc,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0